html, body {
    margin: 0;
    padding: 0;
  }
  
/* 500px wide or less stack the links on top of each other */ 
@media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .hright {
      float: none;
    }
  }
  
  /* position: fixed; width: 100%; width: 100vw; footer styling*/
  .footer {
    position: relative;
      bottom: 0;
      left: 0;
      right: 0;
      background:#693311;
      height: auto;
      font-family: "Open Sans";
      color: white;
  }
  
  .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  
  .footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1rem;
  }
  
  .footer-content p{
    max-width: 500px;
    line-height: 2px;
    font-size: 14px;
  }
  
  /*width: 100vw;*/
  .footer-bottom{
    background: #693311;
    text-align: center;
  }
  
  .footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
  }
  
  .footer-bottom span{
    text-transform: uppercase;
    opacity: .9;
    font-weight: 200;
  }
  
  
  * {
    margin: 0;
    padding: 0;
  }

  /* 500px wide or less stack the links on top of each other */ 
@media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .hright {
      float: none;
    }
  }